  services:
    web:
      build:
        context: . 
        dockerfile: Dockerfile.flask
      ports:
        - "5000:5000"
      environment:
        DB_HOST: database
        DB_USER: root
        DB_PASSWORD: root
        DB_NAME: gan-shmuel
        DB_PORT: "3306"
      depends_on:
        - database

    database:
      image: mysql:9.0.1
      environment:
        MYSQL_ROOT_PASSWORD: root
        MYSQL_DATABASE: gan-shmuel-project
      volumes:
        - db_data:/var/lib/mysql

  volumes:
    db_data:
