DB_USER=root   
DB_PASSWORD=
DB_HOST=billing-mysql
DB_PORT=3306
DB_NAME=billing_db

WEIGHT_SERVER_URL=

BILLING_URL_TEST=http://localhost:8090
WEIGHT_URL_TEST=http://localhost:80
BILLING_URL_PROD=
WEIGHT_URL_PROD=